In [217]:
import pandas as pd
import numpy as np

In [218]:
amazon_price = pd.read_csv("AMZN.csv")
amazon_eps = pd.read_csv("earnings_latest.csv").groupby("symbol").get_group("AMZN")
amazon_eps["date"] = pd.to_datetime(amazon_eps["date"])
amazon_price["Date"] = pd.to_datetime(amazon_price["Date"])
start_date = "2009-07-23"
end_date = "2021-04-29"
amazon_price = amazon_price[(amazon_price["Date"] >= start_date) & (amazon_price["Date"] <= end_date)]
amazon_price["election_season"] = (
    ((amazon_price["Date"].dt.year % 4) == 0) & 
    (amazon_price["Date"].dt.month > 7) & 
    (amazon_price["Date"].dt.month < 12)
).astype(int)

In [219]:
amazon_eps["date"] = pd.to_datetime(amazon_eps["date"])
amazon_price["Date"] = pd.to_datetime(amazon_price["Date"])

In [220]:
eps_values = []
eps_est_values = []

for date in amazon_price["Date"]:
    relevant_eps = amazon_eps[amazon_eps["date"] <= date]
    relevant_eps_est = amazon_eps[amazon_eps["date"] <= date]
    if not relevant_eps.empty:
        eps_values.append(relevant_eps.iloc[-1]["eps"])
        eps_est_values.append(relevant_eps_est.iloc[-1]["eps_est"])
    else:
        eps_values.append(None)
        eps_est_values.append(None)

amazon_price["eps"] = eps_values
amazon_price["eps_est"] = eps_est_values

In [221]:
amazon_price["earnings_beat"] = amazon_price["eps"] > amazon_price["eps_est"]
amazon_price["earnings_beat"] = amazon_price["earnings_beat"].astype(int)
amazon_eps

     symbol       date      qtr  eps_est    eps release_time
8735   AMZN 2009-07-23  06/2009      NaN    NaN         post
8736   AMZN 2009-10-22  09/2009      NaN    NaN         post
8737   AMZN 2010-01-28  12/2009      NaN    NaN         post
8738   AMZN 2010-04-22  03/2010      NaN    NaN         post
8739   AMZN 2010-07-22  06/2010      NaN    NaN         post
8740   AMZN 2010-10-21  09/2010      NaN    NaN         post
8741   AMZN 2011-01-27  12/2010      NaN    NaN         post
8742   AMZN 2011-04-26  03/2011      NaN    NaN          NaN
8743   AMZN 2011-07-26  06/2011      NaN    NaN         post
8744   AMZN 2011-10-25  09/2011      NaN    NaN         post
8745   AMZN 2012-01-31  12/2011      NaN    NaN         post
8746   AMZN 2012-04-26  03/2012      NaN    NaN         post
8747   AMZN 2012-07-26  06/2012      NaN    NaN         post
8748   AMZN 2012-10-25  09/2012   -0.080  -0.23         post
8749   AMZN 2013-01-29  12/2012    0.280   0.21         post
8750   AMZN 2013-04-25  03/2013    0.100   0.18         post
8751   AMZN 2013-07-25  06/2013    0.040  -0.02         post
8752   AMZN 2013-10-24  09/2013   -0.090  -0.09         post
8753   AMZN 2014-01-30  12/2013    0.680   0.51         post
8754   AMZN 2014-04-24  03/2014    0.220   0.23         post
8755   AMZN 2014-07-24  06/2014   -0.130  -0.27         post
8756   AMZN 2014-10-23  09/2014   -0.730  -0.95         post
8757   AMZN 2015-01-29  12/2014    0.240   0.45         post
8758   AMZN 2015-04-23  03/2015   -0.130  -0.12         post
8759   AMZN 2015-07-23  06/2015   -0.150   0.19         post
8760   AMZN 2015-10-22  09/2015   -0.100   0.17         post
8761   AMZN 2016-01-28  12/2015    1.610   1.00         post
8762   AMZN 2016-04-28  03/2016    0.610   1.07         post
8763   AMZN 2016-07-28  06/2016    1.140   1.78         post
8764   AMZN 2016-10-27  09/2016    0.850   0.52         post
8765   AMZN 2017-02-02  12/2016    1.400   1.54         post
8766   AMZN 2017-04-27  03/2017    1.030   1.48         post
8767   AMZN 2017-07-27  06/2017    1.400   0.40         post
8768   AMZN 2017-10-26  09/2017    0.010   0.52         post
8769   AMZN 2018-02-01  12/2017    1.850   2.16         post
8770   AMZN 2018-04-26  03/2018    1.220   3.27         post
8771   AMZN 2018-07-26  06/2018    2.490   5.07         post
8772   AMZN 2018-10-25  09/2018    3.290   5.75         post
8773   AMZN 2019-01-31  12/2018    5.550   6.04         post
8774   AMZN 2019-04-25  03/2019    4.724   7.09         post
8775   AMZN 2019-07-25  06/2019    5.569   5.22         post
8776   AMZN 2019-10-24       Q3    4.619   4.23          NaN
8777   AMZN 2020-01-30       Q4    4.028   6.47          NaN
8778   AMZN 2020-04-30       Q1    6.249   5.01          NaN
8779   AMZN 2020-07-30       Q2    1.460  10.30          NaN
8780   AMZN 2020-10-29       Q3    7.409  12.37          NaN
8781   AMZN 2021-02-02       Q4    7.231  14.09          NaN
8782   AMZN 2021-04-29       Q1    9.542  15.79         post

In [222]:
release_times = []
for date in amazon_price["Date"]:
    relevant_eps = amazon_eps[amazon_eps["date"] <= date]
    if not relevant_eps.empty:
        latest_release = relevant_eps.iloc[-1]
        if latest_release["release_time"] == 0: 
            release_times.append((latest_release["date"] - pd.Timedelta(days=1)).date())
        else:  
            release_times.append(latest_release["date"].date())
    else:
        release_times.append(None)
release_times_df = pd.DataFrame({"Date": amazon_price["Date"], "release_time_date": release_times})
amazon_price = amazon_price.merge(release_times_df, on="Date", how="left")

amazon_price["release_time"] = (amazon_price["Date"].dt.date == amazon_price["release_time_date"]).astype(int)

amazon_price.drop(columns=["release_time_date"], inplace=True)

In [223]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score
amazon_price

,Date,Open,High,Low,Close,Adj Close,Volume,election_season,eps,eps_est,earnings_beat,release_time
0,2009-07-23,4.492000,4.720000,4.479500,4.693500,4.693500,383242000,0,NaN,NaN,0,1
1,2009-07-24,4.380000,4.445000,4.275000,4.324500,4.324500,384092000,0,NaN,NaN,0,0
2,2009-07-27,4.312000,4.324500,4.178000,4.212000,4.212000,225586000,0,NaN,NaN,0,0
3,2009-07-28,4.192000,4.282000,4.130000,4.249000,4.249000,175498000,0,NaN,NaN,0,0
4,2009-07-29,4.223500,4.275000,4.176000,4.217000,4.217000,130058000,0,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2958,2021-04-23,165.955002,168.750000,165.425003,167.044006,167.044006,63856000,0,14.09,7.231,1,0
2959,2021-04-26,167.399994,171.422501,166.546997,170.449997,170.449997,97614000,0,14.09,7.231,1,0
2960,2021-04-27,172.173492,173.000000,169.900497,170.871506,170.871506,76542000,0,14.09,7.231,1,0
2961,2021-04-28,171.740005,174.494003,171.250000,172.925003,172.925003,92638000,0,14.09,7.231,1,0
2962,2021-04-29,175.255005,175.722504,171.750000,173.565506,173.565506,153648000,0,15.79,9.542,1,1

In [224]:
model = RandomForestClassifier(n_estimators=100, min_samples_split=100, random_state=1)
train = amazon_price.iloc[:-100]
test = amazon_price.iloc[-100:]
predictors = ["Open", "High", "Low", "Close",  "Adj Close", "Volume", "election_season", ]